<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="DalManagerTypeAuthCode" value="FortnoxAccessToken.DalFile.DalManager,FortnoxAccessToken.DalFile" />-->
    <add key="DalManagerSqlServer" value="Reco3Xml2Db.DalSql.DalManager,Reco3Xml2Db.DalSql" />
    <add key="DalManagerAppConfig" value="Reco3Xml2Db.DalAppConfig.DalManager,Reco3Xml2Db.DalAppConfig" />
  </appSettings>
  <connectionStrings>
    <!--<add name="LocalDb" connectionString="Data Source=(local)\DMXSQL;Initial Catalog=FortnoxApiKey;Integrated Security=False;User Id=sa;Password=Eurotap423237" providerName="System.Data.SqlClient" />-->
    <!--<add name="Local" connectionString="Data Source=(local)\DMXSQL;Initial Catalog=AuthorizationCodes;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Server" connectionString="Data Source=100.0.40.5,1433;Initial Catalog=FortnoxApiKey;Integrated Security=False;User Id=FortUser;Password=Gh0stf@c" providerName="System.Data.SqlClient" />-->
    <add name="Server" connectionString="Data Source=RD0067352;Initial Catalog=ElmerFudd;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>