<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="DalManagerDb" value="Reco3Xml2Db.DalSql.DalManager,Reco3Xml2Db.DalSql" />-->
    <add key="DalManagerDb" value="Reco3Xml2Db.DalEf.DalManager,Reco3Xml2Db.DalEf"/>
    <add key="DalManagerAppConfig" value="Reco3Xml2Db.DalAppConfig.DalManager,Reco3Xml2Db.DalAppConfig"/>
    <add key="XmlFilePath" value="\\Global\dfs04\Technical_Product_Planning\20_Organisation\YDM_Modularisation\YDMC\50_Personliga_mappar\Enrique Carrasco Mora\Input for Reco3\New engine PDs"/>
    <add key="SelectedSource" value="MicrosoftSqlServer"/>
    <!--<add key="SelectedProvider" value="System.Data.SqlClient" />-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="Server" connectionString="Data Source=REWS003;Initial Catalog=ElmerFuddNew;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
